.GifGrid {
  display: flex;
  flex-flow: wrap;
  width: 90vw;
  justify-content: space-evenly;
  align-content: space-around;
  height: fit-content;
  animation: fadeOut;
  animation-duration: 1s;

}

.GifGrid p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3:hover {
  animation: flip;
  animation-duration: 2s;
}

